*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    place-items: center;
    height: 100vh;
}
div{
    padding: 20px;
}
.light{
    background-color: gray;
    color: white;
}

.dark{
    background-color: white;
    color: black;
}
