*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    gap:10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    color: white;
    background-color: red;
    padding: 3px 6px;
    border: none;
}
