*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap:15px;
    justify-content: center;
    align-items: center;
}
input{
    height: 40px;
    width: 250px;
}
p{
    color: red;
}
